*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Open Sans", sans-serif;
}

header{
    width: 100%;
    padding: 15px 0px;


}

.wrapper{
    width: 80%;
    margin: 0 auto;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav .logo img{
    width: 100px;
    margin-left: 200px;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu li{
    list-style-type: none;
    display: inline-block;
    margin-right: 25px;
    font-weight: 300;
}

.menu ul .active{
    color: red;
}
.menu ul li a{
    font-size: 18px;
    text-decoration: none;
    color: navy;
    text-transform: capitalize;

}

.btn button{
    background-color: navy;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: 1px solid navy;
    border-radius: 20px 20px 20px 20px;
    /* margin: -42px; */
    /* margin-right: 100px; */
}

.btn button:hover{
    background-color: rgb(1, 55, 235);
  
    
}

.banner-section{
    width: 100%;
    height: 80vh;
}

.banner-section .flex-box{
    display: flex;
    align-items: center;
}

.banner-section .flex-box .left, .banner-section .flex-box .right{
    flex-basis: 50%;
}

.banner-section .flex-box h1{
    font-size: 45px;
    color: navy;
    line-height: 50px;
    font-weight: 700;
    margin-left: 200px;
}

.banner-section .flex-box p{
    font-size: 22px;
    color: navy;
    line-height: 32px;
    font-weight: 300;
    margin-top: 15px;
    margin-left: 200px;
}

.banner-section .flex-box button{
    background-color: navy;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: 1px solid navy;
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-left: 200px;

}

.banner-section .flex-box button:hover{
    background-color: rgb(1, 55, 235);

}

.banner-section .flex-box .right img{
    width: 100%;
    height: auto;
}

.featured{
    width: 100%;
    margin-top: -120px;
    height: 60px;
    margin-bottom: 60px;
    justify-content: space-around;
    margin-left: 400px;
}

.flex-box2{
    display: flex;
    margin-top: 0 auto;
    /* justify-content: space-between; */
    margin-bottom: 60px;

}

.pink{
    /* height: 100px; */
    background-color: #f9799a;
    margin: 0 20px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
   
}
.pink h3{

    font-size: 20px;
    font-weight: 700;
    color: white; 

}

.pink p{
    font-size: 15px;
    color: white;
    font-weight: 400;
    text-align: center;
    justify-content: center;
}

.cyan{
    background-color: #61c4d8;
    border-radius: 10px 10px 10px 10px;
    margin: 0 20px;
    padding: 20px;
    margin-left: 90px;
}

.cyan h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.cyan p{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.navy{
    background-color: navy;
    border-radius: 10px 10px 10px 10px;
    margin: 0 20px;
    padding: 20px;
    margin-left: 90px;
}

.navy h3{
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.navy p{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.banner-section2{
    width: 100%;
    height: 50vh;
}

.banner-section2 .flex-box3{
    display: flex;
    align-items: center;
  
}

.banner-section2 .flex-box3 .left, .banner-section2 .flex-box3 .right{
    flex-basis: 80%;
}

.banner-section2 .flex-box3 h3{
    color: navy;
    line-height: 50px;
    font-weight: 300;
    margin-left: 380px;
    font-size: 35px;
}

.banner-section2 .flex-box3 h1{
    font-size: 45px;
    color: navy;
    line-height: 50px;
    font-weight: 700;
    margin-left: 380px;
}

.banner-section2 .flex-box3 p{
    font-size: 18px;
    color: navy;
    line-height: 32px;
    font-weight: 300;
    margin-top: 15px;
    margin-left: 380px;

}

.banner-section2 .flex-box3 button{
    background-color: navy;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: 1px solid navy;
    border-radius: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-left: 380px;
}

.banner-section2 .flex-box3 button:hover{
    background-color: rgb(1, 55, 235);
}

.banner-section2 .flex-box3 .right img{
    width: 80%;
    height: auto;
    margin-top: 100px;
}

.banner-section3{
    width: 100%;
    height: 60vh;
    background-color: #f5f7fa;
    margin-top: 200px;

}

.wrapper4{
    width: 80%;
    margin: 0 auto;
}

.banner-section3 .flex-box4{
    display: flex;
    align-items: center;

  
}

.banner-section3 .flex-box4 .right, .banner-section3 .flex-box4 .left{
    flex-basis: 80%;
}

.banner-section3 .flex-box4 .right h3{
    color: navy;
    line-height: 50px;
    font-weight: 300;
    font-size: 35px;
    margin-left: 380px;
    margin-top: 100px;
}

.banner-section3 .flex-box4 .right h1{
    font-size: 45px;
    color: navy;
    line-height: 50px;
    font-weight: 700;
    /* margin-bottom: 300px; */
    margin-left: 380px;
}

.banner-section3 .flex-box4 .right p{
    font-size: 18px;
    color: navy;
    line-height: 32px;
    font-weight: 300;
    margin-left: 380px;
    margin-top: 20px;
}

.banner-section3 .flex-box4 .right button{
    background-color: navy;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: 1px solid navy;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 700px;
    margin-left: 380px;
    margin-top: 40px;
}

.banner-section3 .flex-box4 .right button:hover{
    background-color: rgb(1, 55, 235);
}

.banner-section3 .flex-box4 .left img{
    width: 80%;
    height: auto;
    margin-bottom: 600px;
    margin-left: 150px;
}



.banner-section4{
    width: 100%;
    height: 80vh;
}

.wrapper5{
    width: 80%;
    margin: 0 auto;
}

.banner-section4 .flex-box5{
    display: flex;
    align-items: center;
}

.banner-section4 .flex-box5 .left, .banner-section4 .flex-box5 .right {
    flex-basis: 50%;
}

.banner-section4 .flex-box5 h3{
    color: navy;
    line-height: 50px;
    font-weight: 300;
    font-size: 35px;
    margin-left: 200px;
    margin-top: 200px;
}

.banner-section4 .flex-box5 h1{
    font-size: 45px;
    color: navy;
    line-height: 50px;
    font-weight: 700;
    /* margin-bottom: 300px; */
    margin-left: 200px;
}

.banner-section4 .flex-box5 p{
    font-size: 18px;
    color: navy;
    line-height: 32px;
    font-weight: 300;
    margin-left: 200px;
    margin-top: 20px;
}

.banner-section4 .flex-box5 button{
    background-color: navy;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: 1px solid navy;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 700px;
    margin-left: 200px;
    margin-top: 40px;
}

.banner-section4 .flex-box5 button:hover{
    background-color: rgb(1, 55, 235);
}

.banner-section4 .flex-box5 .right img{
    width: 80%;
    height: auto;
    margin-bottom: 500px;  
    margin-left: 130px;
}

.card{
    width: 100%;
    height: 60vh;
    background-color: #f5f7fa;
    /* margin-bottom: 1000px; */
    
    
}

.card .wrapper6{
    width: 80%;
    margin: 0 auto;
}

.card .wapper6 .flex-box6{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.card .flex-box6 .left, .card .flex-box6 .right {
    flex-basis: 50%;
}

.card .wrapper6 .flex-box6 .left img{
    width: 40%;
    height: auto;
    margin-top: 100px;  
    margin-left: 130px;
}

.card .wrapper6 .flex-box6 .right{
   align-items: center;
}

.card .wrapper6 .flex-box6 .right h1{
    font-size: 45px;
    color: navy;
    /* line-height: 50px; */
    font-weight: 700;
    margin-top: -460px;
    margin-left: 1000px;
}

.card .wrapper6 .flex-box6 .right p{
    font-size: 18px;
    color: navy;
    line-height: 32px;
    font-weight: 300;
    margin-left: 1000px;
    margin-top: 20px;
}

.card .flex-box6 .right button{
    background-color: navy;
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    border: 1px solid navy;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 700px;
    margin-left: 1000px;
    margin-top: 40px;
}

.card .flex-box6 .right button:hover{
    background-color: rgb(10, 119, 105);
}

.middle .tab h2{
    text-align: center;
    margin-top: 60px;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 128, 0.685);
}

.middle .tab img{
    margin-top: 60px;
    margin-left: 410px;
    max-width: 100%;
}

.list .wrapper7{
    width: 80%;
    margin: 0 auto;
}

.nav2{
    display: flex;
    margin: 0 30px 0 30px;
    font-size: 15px;
    color: navy;
}

.box-last1{
    border-top: 5px solid cornflowerblue;
    text-align: left;
}

.box-last2{
    border-top: 5px solid red;
    text-align: left;
}
.box-last3{
    border-top: 5px solid green;
    text-align: left;
}
.box-last4{
    border-top: 5px solid yellow;
    text-align: left;
}

.success{
    background-color: #f5f7fa;
    width: 100%
    
}

.wrapper8{
    width: 80%;
    margin: 0 auto;
    margin-top: 60px;
}

.success .wrapper8 .flex-box7{
    display: flex;
    align-items: center;
}

.success .flex-box7 .left, .success .flex-box7 .right {
    flex-basis: 50%;
}

.success .wrapper8 .flex-box7 .left img{
    width: 60px;
    margin-top: 100px;
    margin-left: 150px;
}

.success .wrapper8 .flex-box7 .left{
    vertical-align: middle;
}

.success .wrapper8 .flex-box7 .left h1{
    font-size: 45px;
    color: navy;
    /* line-height: 50px; */
    font-weight: 700;
    /* margin-top: -360px; */
    margin-left: 150px;
}

.success .wrapper8 .flex-box7 .left p{
    font-size: 18px;
    color: navy;
    line-height: 32px;
    font-weight: 300;
    margin-left: 150px;
    /* margin-top: 20px; */
}

.success .wrapper8 .flex-box7 .right img{
    width: 50%;
    border-radius: 20px 20px 20px 20px;
    margin-top: 0 auto;
}
.left{
    padding: 0 0 90px;

}

.location{
    width: 70%;
    height: 45vh;
    background-color: hsl(212, 100%, 43%);
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    margin-top: 60px;
}

.wrapper9{
    width: 80%;
}

.location .wrapper9 .flex-box8{
    display: flex;
    align-items: center;
}

.location .wrapper9 .flex-box8 .left{
    margin-top: 60px;
    margin-left: 150px ;
}

.location .wrapper9 .flex-box8 .left h2{
    color: white;
   margin-bottom: 20px;
   font-size: 30px;
}

.location .wrapper9 .flex-box8 .left p{
    color: white;
    font-size: 28px;
    font-weight: 300;
}

.location .wrapper9 .flex-box8 .right{
    margin-top: 0px;
    margin-left: 350px;
    justify-content: end;
}

.location .wrapper9 .flex-box8 .right h2{
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
}

.location .wrapper9 .flex-box8 .right p{
    color: white;
    font-size: 28px;
    font-weight: 300;
}

.end .wrapper10{
    width: 80%;
    margin: 0 auto;
}

.nav3{
    display: flex;
    margin: 0 30px 0 30px;
    font-size: 15px;
    color: navy;
    margin-top: 60px;
    justify-content: space-evenly;
}

.box-end1{
    text-align: left;
}
.box-end2{
    text-align: left;
}
.box-end3{
    text-align: left;
}
.box-end4{
    text-align: left;
}

.logo2 .end-logo{
    width: 80%;
    margin-top: 40px;
    margin-left: 110px;
}

.logo2 .end-logo h4{
    color: wheat;
    margin-left: 550px;
    margin-top: 20px;
}

